body {
    background-color: rgb(92, 206, 255);
}


p {
    text-align: center;
    font-size: 22px;
    font-family: 'Noto Sans JP', sans-serif;
}


input[name="term"] {
    position: relative;
    left: 15%;
}


input[name="class"] {
    margin: auto;
    display: block;
}


input[name="course"] {
    position: relative;
    left: 75%;
}


input[type=text] {
    width: 500px;
}


input[type=text]:focus {
    border: 3px solid #555;
}