<html>

<p id="header">Create your schedule below!</p>

<div>
<input [(ngModel)] = "searchTerm" (change) = "assignTerm()" id="step1" list="terms" name="term" onchange="function step1Change() {
        if (!document.getElementById('step2').disabled || !document.getElementById('step1').value) {
            document.getElementById('step3').disabled = true;
            document.getElementsByName('course')[0].value = '';
            document.getElementsByName('course')[0].placeholder = 'Course';
            document.getElementById('step4').disabled = true;
        }
        document.getElementById('step2').disabled = document.getElementById('step1').value === '';
        document.getElementsByName('department')[0].value = '';
        document.getElementsByName('department')[0].placeholder = 'Department';

        
    } step1Change(); " placeholder="Term">

  <datalist id="terms" >
   
      <option *ngFor = "let term of terms">
          {{term}}
      </option>
   
    <!--
    <option value="Winter 2023">Winter 2023</option>
    <option value="Fall 2022">Fall 2022</option>
    <option value="Spring 2022">Spring 2022</option>
    <option value="Winter 2022">Winter 2022</option>
    -->
  </datalist>

<input [(ngModel)] = "searchDepartment" (change) = "getCourse()" id="step2" list="departments" name="department" onchange="function step2Change() {
    if (!document.getElementById('step3').disabled) {
        document.getElementById('step4').disabled = true;
    }
    document.getElementById('step3').disabled = document.getElementById('step2').value === '';
    document.getElementsByName('course')[0].value = '';
    document.getElementsByName('course')[0].placeholder = 'Course';
} step2Change()" placeholder="Department" disabled>
  <datalist id="departments">
    <option *ngFor = "let department of departments">
        {{department}}
    </option>
    <!--
    <option value="I&C SCI">I&C SCI</option>
    <option value="BIOSCI">BIOSCI</option>
    <option value="COMPSCI">COMPSCI</option>
    <option value="SOCIOL">SOCIOL</option>
    <option value="IN4MATX">IN4MATX</option>
    -->
  </datalist>

<input [(ngModel)] = "searchCourse" id="step3" list="courses" name="course" placeholder="Course" onchange="document.getElementById('step4').disabled = document.getElementById('step3').value === ''" disabled>
  <datalist id="courses">
    <option *ngFor = "let coursenumber of courseNumbers">
        {{coursenumber}}
    </option>
    <!--
    <option value="33">33</option>
    <option value="2A">2A</option>
    <option value="161">161</option>
    <option value="1">1</option>
    <option value="43">43</option>
    -->
  </datalist>

<button (click) = "getSchedule()" id="step4" onclick="document.getElementById('step5').style.display = 'block'" disabled>Search</button>
</div>

<br>

<div class="class-display">
    <table id="step5" class="paddingBetweenCols">
        <tr>
            <th style="width: 150px">Code</th>
            <th style="width: 150px">Course Title</th>
            <th style="width: 150px">Instructor</th>
            <th style="width: 150px">Days</th>
            <th style="width: 150px">Time</th>
            <th style="width: 150px">Location</th>
            <th></th>
        </tr>
        <tr>
            <td>35600</td>
            <td>I&C SCI 45C</td>
            <td>Thornton, A.</td>
            <td>TuTh</td>
            <td>5:00- 6:20p</td>
            <td>EH 1200</td>
            <td><button onclick="function dr(btn) { var row = btn.parentNode.parentNode; row.parentNode.removeChild(row); } dr(this)">Add</button></td>
        </tr>
        <tr>
            <td>33211</td>
            <td>WRITING 45</td>
            <td>Lerner, S.</td>
            <td>TuTh</td>
            <td>8:00- 9:20</td>
            <td>DBH 1433</td>
            <td><button onclick="function dr(btn) { var row = btn.parentNode.parentNode; row.parentNode.removeChild(row); } dr(this)">Add</button></td>
        </tr>
    </table>
</div>

<br>

<p id="header" style="font-weight: bold">Your Schedule</p>

<div class="schedule-display">
    <table id="student-schedule" class="paddingBetweenCols">
        <tr>
            <th style="width: 150px">Code</th>
            <th style="width: 150px">Course Title</th>
            <th style="width: 150px">Instructor</th>
            <th style="width: 150px">Days</th>
            <th style="width: 150px">Time</th>
            <th style="width: 150px">Location</th>
            <th></th>
        </tr>
        <tr>
            <td>35600</td>
            <td>I&C SCI 45C</td>
            <td>Thornton, A.</td>
            <td>TuTh</td>
            <td>5:00- 6:20p</td>
            <td>EH 1200</td>
            <td><button onclick="function dr(btn) { var row = btn.parentNode.parentNode; row.parentNode.removeChild(row); } dr(this)">Remove</button></td>
        </tr>
        <tr>
            <td>33211</td>
            <td>WRITING 45</td>
            <td>Lerner, S.</td>
            <td>TuTh</td>
            <td>8:00- 9:20</td>
            <td>DBH 1433</td>
            <td><button onclick="function dr(btn) { var row = btn.parentNode.parentNode; row.parentNode.removeChild(row); } dr(this)">Remove</button></td>
        </tr>
    </table>
</div>

</html>