h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 15px 0;
    font-size: 50px;
}

p {
    padding-left: 15px;
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
}


.navigation {
    background-color: rgb(63, 58, 58);
    overflow: hidden;
    border: 0.3rem solid;
    border-style: outset;
}


.navigation a {
    font-family: 'Roboto Slab', sans-serif;
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 19px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.2s ease-in-out 20ms;
}


.navigation a:hover {
    background-color: rgb(164, 136, 185);
}


.navigation a.active {
    background-color: #c20707;
    color: rgb(255, 255, 255);
}