<head>
    <link type="text/css" rel="stylesheet" href="app.component.css">
</head>

<div class="navigation">
  <button id="h" onclick="function updateClass() {
        document.getElementById('h').style.backgroundColor = 'rgb(194, 7, 7)';
        document.getElementById('s').style.backgroundColor = 'rgb(63, 58, 58)';
    } updateClass()" routerLink="home">Home</button>

  <button id="s" onclick="function updateClass() {
        document.getElementById('s').style.backgroundColor = 'rgb(194, 7, 7)';
        document.getElementById('h').style.backgroundColor = 'rgb(63, 58, 58)';
    } updateClass()" routerLink="schedule">Create Schedule</button>
</div>

<main>
    <router-outlet></router-outlet>
</main>
