
/*h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 15px 0;
}

*/


.navigation {
    background-color: rgb(63, 58, 58);
    overflow: hidden;
}


.navigation a {
    font-family: 'Roboto Slab', sans-serif;
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 19px;
    text-decoration: none;
    font-size: 17px;
}


.navigation a:hover {
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
}


.navigation a.active {
    background-color: #c20707;
    color: rgb(255, 255, 255);
}
