h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 15px 0;
    font-size: 50px;
}


p {
    padding-left: 15px;
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
}


div {
    text-align: center;
}