<!DOCTYPE html>
<head>
    <link type="text/css" rel="stylesheet" href="home.component.css">
</head>

<html>
<body>

<h1>ScheduCreator</h1>
<p>Welcome to ScheduCreator! With this webpage, you can easily create your class schedule here at UCI.</p>
<p>Please check out the navigation bar at the top to explore this webpage.</p>
<p>We hope your schedule planning is a breeze with this wonderful service!</p>

<div>
    <img src="https://parkerlab.bio.uci.edu/pictures/photography%20pictures/2021_03_13_morningpuddles_SELECT/BIG/tn_IMG_2909_tweak.jpg" alt="uci panoramic image" width="60%" height="60%">
</div>

</body>
</html>
